body {
background: rgb(3, 209, 245);

}

header {
    
 padding: 30px;
 color: white;
 text-align: center;
}

section {
background: white;
padding: 15px;
border-radius: 10px;
width: 500px;
margin: auto;
box-shadow: 1px 1px 1px 1px  rgba(0, 0, 0, 0.267);
}

footer {

    color: white;
    text-align: center;
    padding: 10px;
}