body {
    background: rgb(83, 158, 202);

}

header {

    text-align: center;
    color: white;
    font-style: oblique;
    
}

section {
background: white;
border-radius: 8px;
box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.304);
padding: 20px;
margin: auto;
width: 440px;
}

div {
    text-align: center;
}

footer {
    color: white;
    padding: 20px;
    text-align: center;

}